.profile img{
    width: 8%;
    border-radius: 100%;
}
#main1{
    display: flex;
    background-color: rgb(41, 39, 39);
    align-items: center;
    
}
.items ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
.para img{
    width:18%;

}
.para{
    display: flex;
    margin-top: 30px;

    justify-content: space-around;
}
body{
    background-color: rgb(73, 70, 70);
}
.main2{
display: flex;
margin-top: 30%;

justify-content: space-around;
}
.para2{
display: flex;
justify-content: space-around;
}
.para2 img{
width:17%;
margin-top:2%;
}
.profile2 img{
    width:10%;
}