
.food-contant1{
    display: flex;
    /* width: 20%; */
    gap:30px;
    /* flex-direction: column; */
    justify-content: space-around; 
    /* background-color: red; */
    padding: 20px 0px;

}
#secondproduct img{
margin-left: 100px;
}

.catering-font{
    font-family: "Pacifico", cursive;
    font-size: 20px;
    font-weight: 100;
    font-style: normal;
}


.items h5{
    display:inline-block;
background-color: rgb(56, 57, 153);
border-radius:10px;
}

.food-contant1 img{
    width:20%;
    height:30vh;
    /* height:30%; */
    border-radius: 100%;
   border: solid yellow;
}

body{
    background-image: url(./premium_photo-1683619761468-b0699270439.jpg);
}